@model iKnow.Web.Models.ExcerciseViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>World of Excercises</title>
</head>
<body>
    <h3>World of Excercises</h3>
    @using (Html.BeginForm())
    {
        <div>
            <h2>Result: @Model.NumericResult</h2>
        </div>
    }
</body>
</html>
