@model iKnow.Web.Models.ExcerciseViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>World of Excercises</title>
</head>
<body>
    <h3>World of Excercises</h3>
    @using (Html.BeginForm())
    {
<div>
    <h2>Number: @Model.Number</h2>
    <h2>Text: @Model.Text</h2>
    <p><input type="submit" asp-for="Number" asp-action="AddArray" value="Add array to DB" /></p>
</div>
    }
</body>
</html>
