@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <div>
        <h3>Details</h3>
        <p>Inforamtion:</p>
        <form method="get">
            <input type="hidden" value="@ViewBag.Login" name="RoleId" />
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="User" /> </td>
                </tr>
                <tr>
                    <td>Adress:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>