@model IEnumerable<iKnow.Web.Models.UserViewModel>
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>User list</title>
</head>
<body>
        <h3>Users</h3>
    <table>
        <tr>
            <td>User</td>
            <td>Email</td>
            <td></td>
        </tr>
    @using (Html.BeginForm())
    {
        foreach (UserViewModel user in Model)
        {
    <tr>
        @*<td><a asp-controller="Home" asp-action="Details" name="@user.Login"> Detail information</a></td>*@

        <td>
            @Html.ActionLink(
           linkText: "Detail information",
           actionName: "Details",
           controllerName: "Home",
           routeValues: user,
           htmlAttributes: null)
        </td>
    </tr>
    }
        }
    </table>
</body>
</html>