@model IEnumerable<iKnow.Web.Models.UserViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>iKnow</title>
</head>
<body>
    <h3>iKnow</h3>
    @using (Html.BeginForm())
    {
        <div>
            <a asp-controller="Home" asp-action="Login">Login</a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Registration">Registration</a>
        </div>
        <div>
            <a asp-controller="WorldOfExercises" asp-action="Index">World Of Exercises</a>
        </div>
    }
</body>
</html>